/* *{
  margin: 0;
  padding: 0;
} */
/* .App {
  padding-top: 30vh;
  text-align: center;
  background-color: #282c34;
  display: 'flex';
  justify-content: center;
  align-items: 'center';
  min-height: 100vh; 
} */


/* button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45b6e5;
} */
